<!--include a control strip-->
<app-controls class="controls" [name]="name"></app-controls>
<div class="content">
  <ng-container *ngIf="viewState === ViewStates.Edit">
    <div id="youtubeEmbed" *ngIf="youtubeURL" [attr.show-video]="showYTPanel">
      <div class="dragable mat-primary-custom" appDraggable>
        <youtube-player #player
          class="player"
          [videoId]="videoID" 
          suggestedQuality="highres" 
          [height]="300" 
          [width]="530" 
          [startSeconds]="0"
          [playerVars]="{ modestbranding: 1, fs: 0, playsinline: 1, rel: 0 }"></youtube-player>
          <div class="timecode">{{timeCode}}</div>
      </div>
    </div>
    <!--if we are in Edit mode create a app-timestamp component for each split-->
    <div class="timestamps" [class.reverseSort]="sortState === SortStates.RevChron">
      <ng-container *ngFor="let time of timeservice.times; let i = index">
        <app-timestamp [timestampIndex]="i"></app-timestamp>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="viewState === ViewStates.Code">
    <!--if we are in Code mode-->
    <button mat-mini-fab color="none" class="copy" (click)="copyTimestamps()"
      *ngIf="timeservice.times?.length != 0" title="copy timestamps">
      <!--include a copy button to add the text time splits to clipboard-->
      <mat-icon>file_copy</mat-icon>
    </button>
    <!--create a simple string for each split-->
    <div class="timestamps">
        <span *ngFor="let time of timeservice.times; let i = index">
          {{ getTimeStampText(i) }}<br>
        </span>
    </div>
  </ng-container>
  <!--if there are no time splits include a simple message to show you havent started yet-->
  <div class="noTimestamps" *ngIf="timeservice.times?.length == 0">
    - Not Started -
  </div>
</div>
