.container {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
}

header {
  flex: 0 0 auto;
  box-sizing: border-box;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  gap: 8px;
  overflow: hidden;
}

header button {
  flex: 1;
  background-color: transparent;
  color: white;
  border: 0px solid #ffffff59;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px #12193c, 0px 0px 4px -2px #fff inset;
  padding: 4px;
  height: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 0;
}

header button:hover {
  background-color: #c8c8c81a;
}

header button:active {
  box-shadow: 1px 1px 1px -1px #12193c, 0px 0px 4px -2px #fff inset;
}

header button .mat-icon {
  font-size: 20px;
  height: 20px;
}

.content {
  display: flex;
  flex: 1;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  position: relative;
}

.content > .content-item {
  flex: 1;
}

.flip {
  flex-direction: row-reverse;
}

.swap:first-of-type,
.swap:last-of-type {
  order: 1;
}

.flip .swap:first-of-type,
.flip .swap:last-of-type {
  order: -1;
}

@media (max-width: 780px) {
  :host header button:not(.swap),
  .content:not(.flip) .content-item:not(:first-child),
  .content.flip .content-item:not(:last-child) {
    display: none;
  }
}