:host {
  display: contents;
}

:host ::ng-deep .mat-form-field-infix {
  display: flex;
}

.input-spinner-controls {
  display: inline;
  position: relative;
  margin-left: -20px;
  white-space: nowrap;
}

.input-spinner-up,
.input-spinner-down {
  line-height: 4px;
  border-radius: 0px;
  border: none;
  margin: 0;
  padding-top: 5px;
  font-weight: bold;
  color:rgb(117, 117, 117);
  overflow: hidden;
  position: absolute;
  top: -1px;
  cursor: pointer;
  background: #00000008;
  width: 19px;
}

.input-spinner-up:hover,
.input-spinner-down:hover {
  background: #0002;
}

.input-spinner-down {
  transform: scaleY(-1);
  top: 50%;
}

.has-fine-input input {
  padding-right: 1.5em;
  width: calc(100% - 1em);
}